parameters:
  level: 'max'
  ignoreErrors:
    - '#PHPDoc tag @return with type Avtocod\\B2BApi\\ClientInterface|Avtocod\\B2BApi\\WithSettingsInterface is not subtype of native type Avtocod\\B2BApi\\ClientInterface#'
  reportUnmatchedIgnoredErrors: false
  paths:
    - src
