parameters:
  level: 'max'
  paths:
    - src
  ignoreErrors:
    -
      message: '#PHPDoc tag @return with type .*ClientInterface.* is not subtype of native type Avtocod\\B2BApi\\ClientInterface#'
      paths:
        - src/Connections/ConnectionsFactory*.php
